<%- include layouts/header.ejs %>
    <div class="container">
      
      <div class="p-5 bg-light">
          <h1 class="display-3"><%= title %></h1>
          <p class="lead">Jumbo helper text</p>
          <hr class="my-2">
          <p>More info</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
          </p>
      </div>


    </div>
    <%- include layouts/footer.ejs %>
  </body>
</html>